:ruby

%h3.grey MurkaTrader

=# @balances.to_yaml

.columns
  - @balances.each_slice(6) do |balances|
    - balances.each do |balance|
      .column.asset
        %p
          = fmt balance[:total]
          = balance[:asset]
        - if balance[:btc]
          %p
            = fmt balance[:btc]
            BTC
        - if balance[:usd]
          %p
            = '%.2f' % balance[:usd]
            USD
        %pre= balance.to_yaml
