:ruby

%h3.grey MurkaTrader

=# @balances.to_yaml

.columns
  .column
    = fmt2 @bal_total
    USD


- @balances.each_slice(4) do |balances|
  .columns
    - balances.each do |balance|
      .column.asset
        %img{ src: icon_url(asset: balance[:asset]) }
        %span.title.is-4= balance[:asset]
        .chart{ data: { asset: balance[:asset] } }
        .amounts
          %p.mini
            = fmt balance[:total]
            = balance[:asset]
          - if balance[:btc]
            %p.mini
              = fmt balance[:btc]
              BTC
          - if balance[:usd]
            %p.mini
              = fmt2 balance[:usd]
              USD
          -# %pre= balance.to_yaml
